.footer {
  position: relative;
  width: 100%;
  max-height: 80px;

  background: var(--code-bg, red);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  padding: 30px 0px;
  overflow: hidden;
  color: var(--text-h);
}

.footer img {
  max-width: 15%;
}

.footer__logo-container {
  flex-direction: column;
}
