.footer {
  position: relative;
  width: 100%;
  max-height: 80px;
  background: var(--code-bg);

  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: center;

  padding: 20px 0px;
  margin: 0;
}

.footer h2 {
  color: var(--text-h);
  font-size: 16px;
}

.footer img {
  width: 10%;
}
